.listitem {
  margin: 20px;
}
.section__title {
  font-size: 35px;
  text-align: center;
  color: var(--primary-dark);
}
.list__items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}
.list__item {
  display: flex;
  padding: 15px;
  box-shadow: var(--shadow-2);
  /* border: #d0d7dd73 1px solid; */
  gap: 15px;
  border-radius: 10px;
}
.list__item .icon {
  color: var(--primary);
  font-size: 20px;
  width: 10%;
}
.list__item .list__text {
  width: 90%;
}

@media (max-width: 768px) {
  .listitem .list__items {
    grid-template-columns: 1fr;
  }
}
