.admins__container {
  padding: 50px 0;
}

.admins__container .admin {
  border: 1px solid var(--gray-2);
  padding: 20px;
  width: 70%;
  margin: auto;
  min-height: 300px;
  border-radius: 5px 40px 0 40px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  box-shadow: var(--shadow-2);
}
.admin .row {
  width: 100%;
  display: flex;
  gap: 20px;
}
.admin__image {
  height: 60%;
  width: 100%;
  border-radius: 5px 40px 0 40px;
  overflow: hidden;
}
.admin__image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.admin__info {
  width: 30%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.admin__name {
  font-size: 16px;
}
.professor {
  color: var(--gray-7);
  font-size: 12px;
}
.admin__bio {
  font-size: 14px;
  width: 70%;
}
.admin__social__links {
  width: 100%;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}
.social__link {
  background: var(--primary);
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 5px;
  overflow: hidden;
  border-radius: 5px;
  transition: var(--transition);
}
.social__link:hover {
  background: var(--primary-dark);
}
.social__link svg {
  font-size: 12px;
  color: #fff;
}
@media (max-width: 768px) {
  .admins__container .admin {
    gap: 20px;
  }
  .admin .row {
    flex-direction: column;
  }
  .admin__info {
    width: 100%;
  }
}
@media (max-width: 480px) {
  .admins__container .admin {
    width: 95%;
  }
}
