.setting__page {
  margin-left: 0;
  width: 100%;
  position: relative;
}
.preview__conatiner {
  background: #fff;
  z-index: 1111111;
  width: 100%;
  margin: auto;
  float: right;
  top: 0;
  bottom: 0;
  overflow-y: scroll;
  position: fixed;
  border: 1px solid var(--gray-6);
}
.preview__landing {
  width: 70%;
  margin: auto;
}
.preview_closebtn {
  background: var(--primary);
  height: 50px;
  width: 50px;
  position: fixed;
  right: 50px;
  top: 20px;
  z-index: 1111;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
}
.preview__landing .namv {
  background: #000;
  overflow: hidden !important;
  position: fixed;
}
.preview_closebtn .icon {
  color: #fff;
}

.header__edit {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  position: fixed;
  width: 100%;
  z-index: 11;
  background: var(--primary);
}
.header__edit h2 {
  font-size: 20px;
  color: #fff;
}
.btn.setting {
  background: #fff;
  color: var(--primary);
  cursor: pointer;
}
.btn.setting .icon {
  display: none;
}
.header__edit .right,
.header__edit .left {
  display: flex;
  align-items: center;
  gap: 20px;
}
.form__preview__container {
  margin-top: 80px;
  display: flex;
  gap: 10px;
  padding: 0 20px;
  position: relative;
}
.form__preview__container .form__container {
  width: 40%;
  margin-top: 20px;
  position: fixed;
  top: 135px;
  padding-top: 60px;
  overflow-y: scroll;
  overflow-x: hidden;
  padding-right: 10px;
  bottom: -70px;
}
.form__preview__container .space {
  height: 300px;
}
.form__preview__container .edit_preview {
  width: 60%;
  margin-left: 42%;
}

.top {
  display: flex;
  gap: 10px;
}
.image_upload {
  width: 100%;
  height: 100px;
  border: 2px dashed var(--gray-6);
  position: relative;
}
.image_upload .image__preview {
  z-index: -1;
  width: 100%;
  height: 100%;
  position: absolute;
}
.image_upload .banner_image {
  opacity: 0;
  border: 1px solid;
  height: 100%;
  width: 100%;
  cursor: pointer;
}
.bimage {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.top .input {
  width: 60%;
  display: flex;
  gap: 10px;
  flex-direction: column;
  border-radius: 5px;
}
.input input {
  width: 100%;
  border: 1px solid var(--gray-6);
  padding: 10px 20px;
  outline: none;
}
.descript {
  margin-top: 30px;
}
.input__textarea {
  margin-top: 30px;
  display: flex;
  gap: 10px;
  flex-direction: column;
}
.input__textarea textarea {
  border: #ccc 1px solid;
  outline: none;
  padding: 20px;
  border-radius: 5px;
}
.input__textarea .info {
  font-size: 12px;
  color: rgb(133, 131, 131);
}
.setting__container .sidebar {
  left: -270px;
}
.setting__container .sidebar.sidebar__active {
  left: 0;
  z-index: 11111;
}

@media (max-width: 768px) {
  .form__preview__container {
    flex-direction: column;
  }
  .form__preview__container .form__container {
    width: 100%;
    margin-top: 20px;
    position: relative;
    top: 0;
    padding-top: 20px;
    bottom: 0;
  }
  .form__preview__container .space {
    height: 100px;
  }
  .form__preview__container .edit_preview {
    display: none;
  }
  .preview__landing {
    width: 100%;
  }
}
@media (max-width: 480px) {
  .form__preview__container .form__container {
    padding: 0;
  }
  .top {
    flex-direction: column;
  }
  .top .input {
    width: 100%;
  }
  .bimage {
    width: 100%;
  }
  .image_upload {
    height: 150px;
  }
  .header__edit h2 {
    font-size: 12px;
    color: #fff;
  }
  .btn.setting {
    background: #fff;
    padding: 5px;
    height: 30px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .btn.setting .icon {
    display: block;
  }
  .btn.setting span {
    display: none;
  }
}
