/* ------------------NAVBAR STYLE-------------------- */
.nav__container {
  background: var(--white);
  height: 70px;
  padding: 10px 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: var(--shadow-1);
  position: fixed;
  width: 100%;
  z-index: 111;
  top: 0;
}
.right {
  display: flex;
  gap: 10px;
}
/* Logo style */
.nav__container .logo {
  display: flex;
  gap: 10px;
  align-items: center;
}
.nav__container .logo img {
  border-radius: 8px;
  width: 40px;
  height: 40px;
}
.nav__container .logo .logo__title {
  font-size: var(--fs-6);
  font-weight: 900;
  color: var(--primary);
}
/* Logo style */

/* Action Button Style */
.nav__container .action__btns {
  display: flex;
  gap: 10px;
  align-items: center;
}
.action__btns .auth__btn {
  display: flex;
  gap: 5px;
  align-items: center;
}
.nav__search__btn,
.nav__toggle__btn,
.nav__user__btn {
  box-shadow: var(--shadow-1);
  padding: 10px;
  display: flex;
  border-radius: 3px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.action__btns .icon {
  color: var(--primary);
  font-size: 18px;
}
.nav__toggle__btn {
  font-size: 20px;
  background: transparent;
  cursor: pointer;
  color: var(--color);
}
.nav__menu__head,
.nav__toggle__btn,
.nav__user__btn {
  display: none;
}
/* Action Button Style */

.search_overlay {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  left: 0;
  background: hsl(247deg 35% 19% / 80%);
  top: 0;
  bottom: 0;
  z-index: 11111222;
  right: 0;
  visibility: visible;
  opacity: 1;
  transition: var(--transition);
}
.search_overlay.active {
  opacity: 0;
  visibility: hidden;
}
.search__input {
  display: flex;
  align-items: center;
  padding-right: 10px;
  gap: 5px;
  height: 50px;
  min-width: 300px;
  background: var(--white);
  border-radius: 10px;
}
.search__input input {
  padding: 10px;
  width: 100%;
  outline: none;
  background: transparent;
}
.search__input .search_btn {
  cursor: pointer;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
}
.search__close {
  width: 40px;
  height: 40px;
  background: #fff;
  border-radius: 50%;
  position: absolute;
  font-size: 18px;
  top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 100px;
  cursor: pointer;
}
/*............. Responsive Navbar............. */

/* Maximum screen of 990px */
@media (max-width: 990px) {
  .nav__toggle__btn {
    display: flex;
  }
}
/* Maximum screen of 999px */

/* Maximum screen  for tablet 768px */
@media (max-width: 768px) {
  .nav__user__btn {
    display: flex;
  }
  .action__btns .auth__btn {
    display: none;
  }
}
/* Maximum screen  for tablet 768px */

/* Maximum screen  for mobile 480px */
@media (max-width: 480px) {
  .nav__container {
    padding: 5px 10px;
  }
  .nav__container .logo img {
    width: 25px;
    height: 25px;
  }
  .nav__container .logo .logo__title {
    font-size: 14px;
  }
  .nav__container .action__btns {
    gap: 5px;
  }
}

/* ------------------NAVBAR STYLE-------------------- */
