.faqs__conatiner {
  margin-top: 50px;
  padding: 20px;
}

.faq_list {
  margin-top: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem 5rem;
  align-items: flex-start;
}
.faq {
  border: 1px solid var(--gray-2);
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}
.question {
  display: flex;
  align-items: center;
  /* margin-bottom: 1.5rem; */
  justify-content: space-between;
}
.answer {
  transition: all 0.5s linear;
  padding-top: 20px;
  overflow: hidden;
}
.question .question__title {
  color: var(--primary-dark);
  width: 90%;
}
.question .icon {
  width: 10%;
  color: var(--primary);
}

@media (max-width: 768px) {
  .faq_list {
    grid-template-columns: 1fr;
  }
}
