.sidebar {
  width: 270px;
  position: fixed;
  transition: all 0.5s linear;
  padding: 20px 0;
  left: 0;
  bottom: 0;
  top: 70px;
  z-index: 111;
  overflow-x: hidden;
  overflow-y: scroll;
  border-right: 1px solid var(--gray-4);
  background: var(--white);
}

.sidebar .nav__links_item {
  display: flex;
  padding: 0 20px;
  flex-direction: column;
}
.sidebar .nav__links_item a {
  width: 100%;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
  color: var(--primary-dark);
}
.sidebar a .icon {
  font-size: 20px;
}

.sidebar .a:hover,
.sidebar a.active__nav {
  background: var(--primary);
  color: var(--white);
  border-radius: 5px;
  transition: all 0.5s;
}
.divider {
  margin: 20px 0;
  height: 1px;
  width: 100%;
  background: var(--gray-3);
}
.side__title {
  padding: 0 20px;
  color: var(--gray-7);
  letter-spacing: 0.1rem;
}

.sidebar.sidebar__active {
  left: 0;
  z-index: 11111;
}

@media (max-width: 990px) {
  .sidebar {
    left: -270px;
    transition: all 0.5s linear;
  }
}
