.testimonial__container {
  margin: 50px 0;
  overflow: hidden;
  width: 100%;
}
.mySwiper {
  width: 60%;
  margin: auto;
}
.section__title .icon {
  color: var(--primary);
}
.testimonial {
  border-radius: 0 50px 0 50px;
  width: 100%;
  border: 1px solid var(--gray-3);
  margin: auto;
  margin-top: 60px;
  min-height: 300px;
  position: relative;
  padding: 20px;
  box-shadow: var(--shadow-2);
}
.test__header {
  position: absolute;
  top: -50px;
  left: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.test__header .avatar {
  overflow: hidden;
  border-radius: 50%;
  height: 100px;
  border: 1px solid var(--gray-3);
  width: 100px;
  background: var(--white);
}
.test__header .avatar img {
  overflow: hidden;
  border-radius: 50%;
  height: 100%;
  padding: 5px;
  width: 100%;
}
.test__name {
  color: var(--primary-dark);
}
.test__body {
  margin-top: 70px;
}
.test__body p {
  font-size: 16px;
  font-style: italic;
}
.test__body p .qoute {
  margin-right: 10px;
  color: var(--primary);
}
.test__body p .qoute1 {
  margin-left: 10px;
  color: var(--primary);
}
@media (max-width: 768px) {
  .mySwiper {
    width: 90%;
    margin: auto;
  }
}
