@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
:root {
  /* --primary: #09d3ac; */
  --primary: #525ee0;
  --primary-dark: #231f41;
  --orange: #ffa31a;
  --gray-1: #f5f6f7;
  --gray-2: #ebedf0;
  --gray-3: #dadde1;
  --gray-4: #ccd0d5;
  --gray-5: #bec3c9;
  --gray-6: #8d949e;
  --gray-7: #606770;
  --gray-8: #444950;
  --gray-9: #1c1e21;

  --text: #bec3c9;
  --color: #71797a;
  --light: #ecf1f7;
  --section-title: var(--primary-dark);
  --subtitle: var(--primary);
  --header: var(var(--color));
  --shadow1: 1px 2px 6px var(--gray-6);
  --shadow: 1px 2px 8px var(--gray-5);
  --gradient_bg: linear-gradient(var(--primary), var(--primary-darkest));

  /* ui */
  --bg: #e1f3f8;
  --white: #ffffff;
  --card_bg: #ece5e5;
  --card_bg_2: #e5f5fc;
  --dialog: #ffffff;
  /**
   * typography
   */
  --fs-1: 4rem;
  --fs-2: 3.2rem;
  --fs-3: 2.4rem;
  --fs-4: 2rem;
  --fs-5: 1.8rem;
  --fs-6: 1.4rem;
  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;
  --fw-800: 800;

  --transition: all 0.5s;
  --section-padding: 80px;
  --shadow-1: 0 8px 20px hsla(0, 0%, 0%, 0.06);
  --shadow-2: 0px 4px 10px hsla(0, 1%, 47%, 0.164);

  /**
   * border radius
   */
  --radius-4: 4px;
  --radius-6: 6px;
}

.dark {
  --primary: #525ee0;
  --primary-dark: #08be9b;
  --primary-darker: #08b392;
  --primary-darkest: #069478;
  --primary-light: #2edab8;
  --primary-lighter: #53e0c5;
  --primary-lightest: #84e9d6;
  --color: #ffffff;
  --gray-1: #f5f6f7;
  --gray-2: #ebedf0;
  --gray-3: #dadde1;
  --gray-4: #ccd0d5;
  --gray-5: #bec3c9;
  --gray-6: #8d949e;
  --gray-7: #606770;
  --gray-8: #444950;
  --gray-9: #1c1e21;

  --text1: #bec3c9;
  --color: #71797a;
  --section-title: #231f41;
  --subtitle: var(--primary-darkest);
  --header: var(var(--color));
  --shadow1: 1px 2px 6px var(--gray-6);
  --shadow: 1px 2px 8px var(--gray-5);
  --gradient_bg: linear-gradient(
    to left,
    var(--primary),
    var(--primary-darkest)
  );
  --gradient_bg_hover: linear-gradient(
    to right,
    var(--primary-darkest),
    var(--primary-dark)
  );

  --bg: #121212;
  --white: #1e1e1e;
  --card_bg_1: #222222;
  --card_bg_2: #242424;
  --dialog: #383838;
}
/*-----------------------------------*\
  #RESET
\*-----------------------------------*/
*,
*::before,
*::after {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: var(--gray-5);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--gray-7);
}
.container {
  width: 80%;
  margin: 0 auto;
}
body {
  background: var(--white);
}
.btn {
  padding: 10px 20px;
  border-radius: 5px;
}

.btn-primary {
  background: var(--primary);
  color: var(--light);
  font-weight: 600;
  transition: var(--transition);
}

.btn-primary:hover {
  background: var(--primary-dark);
  transition: var(--transition);
}
.view__all {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.page__wrapper {
  display: flex;
  margin-top: 70px;
  position: relative;
  overflow: hidden;
}
.main__conainer {
  width: calc(100% - 270px);
  margin-left: 280px;
  transition: all 0.5s linear;
}
.page__not__found {
  display: flex;
  align-items: center;
  gap: 20px;
  flex-direction: column;
  margin-top: 100px;
}
@media (max-width: 990px) {
  .main__conainer {
    width: 100%;
    margin-left: 0;
    float: right;
    transition: all 0.5s linear;
  }
}
@media (max-width: 480px) {
  .section__title {
    font-size: 25px !important;
  }
}
