.group__list {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 20px;
  padding: 20px;
}
.group__list .group {
  overflow: hidden;
  height: 250px;
  display: flex;
  gap: 10px;
  padding: 0;
  flex-direction: column;
  border: 1px solid var(--gray-2);
  box-shadow: var(--shadow-2);
  border-radius: 5px;
}
.group_image {
  overflow: hidden;
  height: 120px;
  width: 100%;
}
.group_image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.group__content {
  overflow: hidden;
  height: 130px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 10px 10px 10px;
}
.group__title {
  font-size: 16px;
  color: var(--primary-dark);
}
.group__desc {
  font-size: 12px;
  color: var(--gray-8);
}
.group__content .meta {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
.group__content .member {
  display: flex;
  gap: 5px;
  align-items: center;
}
.group__content .member .icon {
  color: var(--primary);
}
.group__content .member .member__count {
  font-size: 12px;
}
.group__content .meta .join {
  width: max-content;
  border-radius: 5px;
  padding: 0 5px;
  color: var(--primary);
  transition: var(--transition);
}
.group__content .meta .join:hover {
  background: var(--primary);
  color: #fff;
}
