.banner__container {
  height: 300px;
  overflow: hidden;
  position: relative;
}
.banner__image {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -11;
}
.banner__content {
  padding: 50px;
  display: flex;

  flex-direction: column;
  align-items: flex-start;
}
.banner__title {
  font-size: 45px;
  color: #d9dee4;
}
.banner__decs {
  color: #bcc3ca;
  font-size: 18px;
}
.cta_btn {
  margin-top: 20px;
}
.banner__overlay {
  background: rgba(1, 7, 34, 0.575);
  position: absolute;
  height: 100%;
  width: 1000%;
  z-index: -1;
}

@media (max-width: 768px) {
  .banner__title {
    font-size: 30px;
  }
}
@media (max-width: 480px) {
  .banner__container {
    height: 200px;
  }
  .banner__content {
    padding: 20px;
    display: flex;
  }
  .banner__title {
    font-size: 20px;
  }
  .banner__decs {
    font-size: 14px;
  }
  .banner__container .btn {
    padding: 5px 10px;
    font-size: 14px;
  }
}
